*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul, li{
	list-style: none;
}

/* start here below */
html{
	width: 100%;
	height: 100%;
}

body{
	background-color: white;
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.5;
	width: 100%;
}

/* .App{
	width: 100%;
	max-width: 1550px;
	height: 100%;
	display: flex;
	justify-content: center;
} */

/* --------navbar--------- */

#mainNavbar{
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .navbar-brand{
	font-size: 1.7rem;
	font-weight: 400;
}

.navbar-brand{
	padding: 15px;
}

.nav-link{
	padding: 15px;
}

#mainNavbar .nav-link{
	color: white;
}

#navLinks{
	display: flex;
	justify-content: flex-end;
	margin-right: 3rem;
}

#mainNavbar .nav-link:hover{
	font-weight: 400;
}

#nav-mid{
	border-left: 2px solid white;
	border-right: 2px solid white;
	padding: 0 8px;
}

#nav-port{
	border-right: 2px solid white;
	padding: 0 8px;
}


.navbar-nav{
	display: flex;
	align-items: center;
}

#logo:hover{
	transform: rotate(30deg);
	
}


/* -------------contact---------- */
.bg{
	width: 100%;
}

.col-md-6,.well.well-sm{
	width: 100%;
}

#inputName{
	padding: 0 20px;
}

.well.well-sm{
	display: flex;
	justify-content: center;
}

#contact-form{
	width: 650px;
	margin: 1rem 1rem;
	border: 1px solid black ;
	display: flex;
	justify-content: center;
	padding: 30px 50px;
	border-radius: 25px;
	background-color: rgb(220, 243, 243);
}

.form-group{
	margin: 1rem;
}

.form-control{
	width: 300px;
	height: 50px;
	border-radius: 25px;
	padding: 20px 20px;
}

#msg{
	height: 150px;
}

.btn.btn-primary{
	width: 300px;
	position: relative;
	left: 16px;
	border-radius: 25px;
}

legend{
	font-size: 2rem;
	margin: 1rem 0;
}

/* -------Intro----------- */

#sec-one{
	/* margin-top: 30px; */
	/* padding: 1rem; */
	width: 100%;
	text-align: center;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* border-bottom: 1px black solid; */
	margin: 0;
	padding: 0;
	height: 400px;
}

#home{
	background: url('./images/frontend.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

#intro-overlay{
	display: flex;
	flex-direction: column;
}

#introduction{
	/* margin-top: 30px; */
}

#sec-one h1{
	font-size: 2.8rem;
	font-weight: 800;
	color: white;
}

#sec-one p{
	font-size: 2rem;
	font-weight: 400;
	margin-top: 1rem;
	color: rgb(71, 58, 128);
}

#sec-one span{
	text-decoration: underline;
}

#north{
	max-width: 15%;
	min-width: 250px;
	/* position: relative;
	bottom: 100px; */
}

#sub-container{
	margin-top: 1.8rem;
	color: wheat;
	position: relative;
	top: 60px;
}

#sub1{
	font-size: 1.4rem;
}

#sub2{
	font-size: 1.2rem;
}

#sub3{
	font-size: 1rem;
}

/* -------------About----------- */
#sec-two{
	background: url('./images/seattle2.jpg');
	background-size: cover ;
	/* max-width: 1550px; */
	background-position: top;
	height: 550px;	
	padding: auto;
}

#selfie-container{
	display: flex;
	justify-content: center;
	align-content: center;
}

#selfie{
	width: 300px;
	border-radius: 50%;
	border: 5px solid white;
}

#about-h1{
	font-size: 30px;
	font-weight: bold;
	-webkit-text-stroke: 1px rgb(0, 0, 0);
	position: relative;
	bottom: 130px;
}

.underLine{
	text-decoration: underline;
}

#about-p{
	font-weight: 500;
	/* color: rgb(255, 255, 255); */
}

/*-------------- skills --------------*/
#sec-three{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 400px;
}

.overlay {
	background-color: rgba(133, 149, 161, 0.747);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#program-image{
	background: url('./images/programskill.jpg') no-repeat center;
	width: 100%;
	background-size: cover;
	padding: 0;
	/* margin-right: 5px; */
}

#soft-image{
	background: url('./images/soft2.jpg') no-repeat center;
	width: 100%;
	background-size: cover;
	padding: 0;
	/* margin-left: 5px; */
}

.lists-container{
	padding: 10px 0;
	color: white;
}


.skill-list{
	margin: 0;
}

.skill-logo{
	width: 50px;
	margin-right: 10px;
}

.skilz{
	text-decoration: underline black;
}

ul{
	/* background-color: rgba(4,14,22,.83); */
	display: flex;
	flex-direction: column;
	text-align: center;
	/* justify-content: center; */
}

ul li{
	padding: 5px 0;
}

/* -------------portfolio ------------------*/

#sec-four{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 400px;
	/* border: 5px solid black;
	border-radius: 10%; */
	width: 100%;
}

#sec-four h3{
	text-align: center;
}

#projex-container{
	/* display: flex; */
	/* flex-direction: row;
	justify-content: center;
	overflow: auto; */
	/* align-content: space-between; */
}

.projex{
	border:  1px solid black;
	width: 20%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;	
}

#cat-no-content{
	width: 300px;
	
}

/* --------------footer---------------- */
.footer{
	position: absolute;
	/* bottom: 0; */
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: rgba(2, 0, 0, 0.486);
}

#foot-a{
	display: flex;
	justify-content: center;
}

.foot-logo{
	width: 50px;
}

#yeonj{
	margin: 0 1.8rem;
}

@media only screen and (max-width: 750px){

}